body{
    background-color: rgba(255, 16, 16, 0.918);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
    color: white;
    width: 100vw;
    height: 100vh;
}
.header{
    width: 100vw;
    background-color: rgb(223, 232, 233);
    height: 2rem;
    padding: 1% 6%;
   

    
}
.header a{
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bold;
    color:red;
}
.right{
    color: red;
    float: right;
   
}

.container{
    background-color: rgb(43, 133, 121);
    color: rgb(245, 245, 245);
    padding: 5px;
    font-size: 1.4em;
    text-align: center;

  
}
.container p span{
    font-size: 2.5rem;
    font-weight: bold;
}
.btn{
    border:none;
    padding: 10px 20px;
    background-color: yellow;
    color: rgb(255, 0, 0);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;

}
.fbtn{
    padding: 10px;
    text-align: center;
}
.fimg{
    margin: 20px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.fdsc{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
}
footer{
    width: 100%;
    background-color: white;
    color: black;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
}
